$primary-color: #06137b;
$hover-color: #0c20c5;
$font-small: 0.72em;


.nav-room-left {
    margin-left: 8em;
}


.top-nav {
    font-size: $font-small;
}

.top-nav-menu {
  padding: 12px 0 12px 12px;
}


.nav {
   li {

   border-right: 1px solid $primary-color;
   width: 115px;



     #watchlist {
       width: 11px;
       height: 10.5px;
       background: url('../images/nav-footer-icons.svg') -29px -1.5px;
       margin-top: 3px;
     }


     #profile {
       width: 13px;
       height: 13.8px;
       background: url('../images/nav-footer-icons.svg') -42px 0;
       margin-top: 1px;
     }


     .nav-icons {
     float:left;
     }

     a {
     color: $primary-color;
     padding: 0;
     padding-left: 21px;

     &:hover {
     color: $hover-color;
     }

     &:active, &:focus {
     font-weight: bold;
     }

     }
   }
}


.nav {

  li:last-child {
    border: none;
  }
}


.nav-top-middle{
    padding-left: 18px;
}






.searchbar {
text-align: right;

    input {
    width: 85%;
    font-size: 1.2em;
    padding: 3px 0 3px 17px;
    margin-top: 5px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    }

    ::placeholder { /* Most modern browsers support this now. */
    color:    #525151;
    font-style: italic;
    }


    button {
    border-style:none;
    background-color: white;

        img {
        width: 17px;
        padding-bottom: 3px;
        }

    }




}
