@import "partials/header";

$font:'Open Sans', sans-serif;




body {
    font-family: $font;
    border-top: 4px solid #01a7a7;
}



/***** HOME *****/



/* Slider top */

/*aantal zaken aanpassen in bootstrap prev, next icons voor eigen controls */
.carousel-control-prev-icon {
    width: 37px;
    height: 70px;
    background: url('../images/pijltjes-slider.png') 37px 0;
}


.carousel-control-next-icon {
    @extend .carousel-control-prev-icon;
    background: url('../images/pijltjes-slider.png');
}


.carousel-control-prev, .carousel-control-next {
    width: inherit;//ipv grote blok a, a dezelfde breedte als controls --> zo komen ze automatisch aan de zijkanten van de slider
}


.carousel-indicators {

  li {
  width:15px;
  height:15px;
  border-radius: 50px;
  margin: 0 9px 0 9px;

  }

  .active {
  background-color: #e2e2e2;
  }

}
