/* Naviagtion Logo */
.logo-space {
  position: relative; }

.logo-top {
  position: absolute;
  margin-left: 15%;
  margin-top: -18px;
  z-index: 1; }

/***  Navigation top part  ****/
/* Menu */
.container-nav-top, .container-nav-bottom, .container-mozaik {
  width: 100%; }

.top-nav {
  font-size: 0.72em;
  font-weight: 600;
  width: 70%;
  margin-left: 15%; }

.top-nav-menu {
  padding: 12px 0 12px 12px;
  margin-left: 14%;
  width: 56%; }

.nav li.nav-item-top {
  border-right: 1px solid #06137b;
  width: 115px; }
  .nav li.nav-item-top #watchlist {
    width: 11px;
    height: 11px;
    background: url("../images/nav-footer-icons.svg") 27px -1px;
    margin-top: 3px; }
  .nav li.nav-item-top #profile {
    width: 13px;
    height: 13.8px;
    background: url("../images/nav-footer-icons.svg") 14px 0;
    margin-top: 1px; }
  .nav li.nav-item-top a {
    color: #06137b;
    padding: 0;
    padding-left: 1.7em; }
    .nav li.nav-item-top a:hover {
      color: #0c20c5; }
    .nav li.nav-item-top a:active, .nav li.nav-item-top a:focus {
      font-weight: bold; }

.nav li:last-child {
  border: none; }

.nav-top-middle {
  padding-left: 1.7em; }

/* Searchbar */
.searchbar {
  text-align: right;
  width: 30%; }
  .searchbar input {
    width: 72%;
    font-size: 1.2em;
    padding: 3px 0 3px 17px;
    margin-top: 5px;
    border: 1px solid #cbcbcb;
    border-radius: 4px; }
  .searchbar ::placeholder {
    color: #525151;
    font-style: italic; }
  .searchbar button {
    border-style: none;
    background-color: white;
    padding-right: 0; }
    .searchbar button img {
      width: 17px;
      padding-bottom: 3px; }

/***  Navigation bottom part  ***/
.container-nav-bottom, .container-mozaik {
  background-color: #eaeaea; }

.bottom-nav {
  font-size: 0.9em;
  font-weight: 700;
  width: 70%;
  margin-left: 15%; }

.bottom-nav-menu {
  padding: 9px 0 9px 12px;
  margin-left: 14%;
  width: 74%; }

.nav li.nav-item-bottom {
  margin-left: 5%; }
  .nav li.nav-item-bottom a {
    color: #4f4f4f;
    padding: 0; }
    .nav li.nav-item-bottom a:hover {
      color: #2c2b2b; }
    .nav li.nav-item-bottom a:active, .nav li.nav-item-bottom a:focus {
      font-weight: bold; }

.nav li.nav-item-bottom:first-child {
  margin-left: 0; }

.languages {
  text-align: right;
  font-size: 0.8em;
  font-weight: 600;
  padding-right: 0;
  width: 12%; }
  .languages p {
    margin-bottom: 0;
    margin-top: 10px; }
    .languages p a {
      color: #06137b;
      text-decoration: none;
      margin-left: 10%; }
      .languages p a:hover {
        color: #0c20c5; }
      .languages p a:active, .languages p a:focus {
        font-weight: bold; }

.container-footer {
  width: 100%;
  padding-bottom: 1em;
  border-top: 1px solid #eaeaea; }

.padding-0 {
  padding: 0; }

.footer .col {
  padding-top: 2em; }

.footer-title {
  font-size: 1.2em;
  font-weight: bold;
  color: black; }

.col .blok {
  margin-bottom: 1.5em; }
  .col .blok p {
    margin-bottom: 0;
    font-size: 0.9em; }

body {
  font-family: "Open Sans", sans-serif;
  border-top: 4px solid #01a7a7;
  color: #4f4f4f; }

a, a:hover, a:active, a:focus {
  color: #00ada7; }

.container {
  width: 70%; }

/************ HOME ***********/
/*** SLIDER TOP ***/
/*eigen controls*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 37px;
  height: 70px;
  background: url("../images/pijltjes-slider.png") 37px 0; }

.carousel-control-next-icon {
  background: url("../images/pijltjes-slider.png"); }

.carousel-control-prev, .carousel-control-next {
  width: inherit; }

/* eigen indicators */
.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  margin: 0 9px 0 9px; }
.carousel-indicators .active {
  background-color: #e2e2e2; }

/* bol icoon op tekst blok */
.circle-icon, .text-on-slider {
  position: absolute;
  left: 0;
  bottom: 35%;
  margin-left: 13.25%;
  z-index: 2; }

/* tekst blok op slider */
.text-on-slider {
  background-color: rgba(2, 34, 172, 0.6);
  bottom: 13%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 34px;
  z-index: 1; }
  .text-on-slider p {
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 0; }

/*** INFO KOLOMMEN ***/
.home-info-title {
  text-align: center;
  color: #06137b;
  margin: 1.3em auto 0 auto;
  font-weight: 400; }

.home-info-col, .container-mozaik {
  padding-top: 2.9em;
  padding-bottom: 2.9em; }
  .home-info-col img, .container-mozaik img {
    display: block;
    margin: 0 auto; }
  .home-info-col p, .container-mozaik p, .home-info-col h4, .container-mozaik h4 {
    text-align: center; }
  .home-info-col h4, .container-mozaik h4 {
    margin-top: 1.5em; }

/*** CAROUSEL ***/
.container-mozaik {
  background-color: #f3f3f3;
  margin-bottom: 5em; }

/*  title */
.home-mozaik-title {
  margin-top: 0;
  margin-bottom: 1.3em;
  text-align: center; }
  .home-mozaik-title h2 {
    color: #06137b; }
  .home-mozaik-title .more-arrow-link {
    margin-left: 12px; }
    .home-mozaik-title .more-arrow-link #more-arrow {
      width: 28px;
      height: 28px;
      background: url("../images/carousel-pijltjes.png");
      margin-bottom: 0.7em; }

/* voorlopig, is beter in js */
.more-arrow-link:active #more-arrow, .more-arrow-link:focus #more-arrow {
  background: url("../images/carousel-pijltjes.png") 27px 0; }

/*** Mosaic images ***/
.mozaik {
  margin-bottom: 2.7em; }

.mozaik-image:last-child {
  margin-top: 9px; }

.mozaik-image {
  width: 33%;
  float: left; }
  .mozaik-image .position {
    position: relative;
    overflow: hidden; }
    .mozaik-image .position img {
      position: relative; }
    .mozaik-image .position .overlay {
      background-color: rgba(82, 81, 81, 0.61);
      opacity: 0;
      transition: all .4s ease-in-out;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .mozaik-image .position .overlay a img {
        width: 50%; }

.mozaik-image:hover .position .overlay {
  opacity: 1; }

.mozaik-item-width2 {
  width: 66%;
  float: right; }

/***  positioning elements  ***/
.display-inline, img.display-inline {
  display: inline-block; }

.float {
  float: left; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
