@import "header";

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;




body {
    font-family: $font;
}


.container {
    width: 65%;
}




.red {

    border: 1px solid red;

}


.blue {

  border: 1px solid blue;

}


.yellow {

  border: 1px solid yellow;

}
