.form-add-auction  {
  width: 80%;

  .row:first-child .col {
    max-width: 48%;
  }

}


.buttons-photos {
  .col:last-child button{
    height: 100%;
  }

}


.upload-photos-info, .attention-info {
  p {
    margin-bottom: 0.2em;
    font-size: $font-medium;
  }
}

.auction-small-col {
  max-width: 31%;
}

.auction-medium-small-col {
  max-width: 38.5%;
}


.add-auction-question {
  text-align: center;
  margin-top: 20px;
  font-size: $font-medium;

  a:last-child {
    margin-left: 5px;

    img {
      width: 2.5%;
    }
  }

}
