.content-faq {
  padding-top: 25px;
  padding-bottom: 50px;

  .breadcrumbs {
    font-size: $font-small;
  }

  h1 {
    font-weight: 300;
    margin-top: 25px;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

}


.faq-links {
  padding: 1.7em;
  border: 1px solid #e5e5e5;
  margin-top: 35px;

  .col {
    p {
      margin-bottom: 0;

      a {
        font-weight: bold;
        font-size: $font-medium-large;
        text-decoration: underline;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

}



.search-faq {
  float:right;
  padding: 0.75em 0.5em 0.75em 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-top: none;

  p {
    margin-bottom: 0;

   a {
    color: $primary-color;
    font-weight: 700;
    font-size: $font-medium-small;
    }
  }

  img {
    margin-left: 12px;
  }

}


.questions-faq {
  margin-top: 20px;
  margin-bottom: 20px;

}
.question {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  .row {

    p {
      margin-bottom: 7px;

     span {
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    p:first-child {
      margin-right: 7%;
      font-size: 1.3em;
    }
    p:last-child {
      width: 90.5%;
    }

  }

  .row:first-child {
    color: $primary-color;

    p:last-child {
      font-weight: bold;
    }
  }


  .row:last-child {
    p:last-child {
      font-size: $font-medium-large;
    }
  }

}


.question:last-child {
    border:none;

}
