.frame-faq-links {
    padding: 1.7em;
}


.faq-links {
  p {
    margin-bottom: 0;

    a {
      font-weight: bold;
      font-size: $font-medium-large;
      text-decoration: underline;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}




button.button-light.search-button {
  border-top: none;
  padding: 0.75em 0.5em 0.75em 1.5em;
}



.questions-faq {
  margin-top: 20px;

}
.question {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  .row {
    margin-left: 0;
    margin-right: 0;

    p {
      margin-bottom: 7px;

     span {
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    p:first-child {
      margin-right: 7%;
      font-size: 1.3em;
    }
    p:last-child {
      width: 90.5%;
    }

  }

  .row:first-child {
    color: $primary-color;

    p:last-child {
      font-weight: bold;
    }
  }


  .row:last-child {
    p:last-child {
      font-size: $font-medium-large;
    }
  }

}


.question:last-child {
    border:none;
    padding-bottom: 0;

}
