/*** ALGEMEEN ***/

.container-footer {
  width: 100%;
  border-top: 1px solid #eaeaea;

}

.padding-0 {
  padding: 0;
}

.footer .col {
    padding-top: 2em; // normaal zou ik ze op een hoger element zetten maar voor de linker border op de laatste kolom te kunnen zetten is het zo best
    padding-bottom: 1.7em;
}


.col .blok {
  margin-bottom: 1.5em;

  a {
    font-size: 0.9em;
  }

  p {
    margin-bottom: 0;
  }
}




/* Kolom 1 -3 */
p.footer-title {
  font-weight: bold;
  color: black;
  margin-bottom: 0;

}


.footer .col:nth-child(3) {
  padding-right: 0;
}



/* Laatste kolom */
.footer .col:last-child {
  border-left: 1px solid #eaeaea;
  padding-left: 30px;
  position: relative;

  p {
    font-size: 0.9em;
  }

  a {
    font-size: 1em;
    text-decoration: underline;

    &:hover {
      color: #007773;
    }
  }

  .footer-title {
    margin-bottom: 0.5em;
    font-size: 1em;
  }

}



/* Searchbar */
.search-footer {
  .searchbar {
    width: 100%;
    text-align: left;

    input {
      font-size: 0.9em;
      width: 86%;
    }

    button {
      padding-left: 3px;
    }
  }
}



/* Contact info */
.contact-info p {
  margin-left: 5px;
}

#cellphone {
  width: 10px;
  height: 13px;
  background: url('../images/nav-footer-icons.svg') 39px 0;
}

#mail {
  width: 13px;
  height: 10px;
  background: url('../images/nav-footer-icons.svg') 56px 0;
}




/* Social media */
.social-icons a img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.social-icons a:last-child img {
  margin-right: 0;
}

#facebook {
  background: url('../images/social.svg');
}

#twitter {
  background: url('../images/social.svg') 97px 0;
}

#youtube {
  background: url('../images/social.svg') 65px 0;
}

#google {
  background: url('../images/social.svg') 33px 0;
}



/* Copyright */
.footer .col:last-child {
  p.copyright {
    font-size: 0.72em;
    margin-bottom: 0;
    color: #8e9090;
    position: absolute;
    bottom: 1.7em;
  }
}


/* logo footer bottom part */

.logo-bottom {
  @extend .logo-top;
  margin-top: 0;
  bottom: -4px;

}





/**  MEDIA QUERIES **/

@media screen and (max-width: 1185px) {
  .col .blok p, .col:last-child .blok .footer-title {
    font-size: 0.95em;
  }

  .footer .col:last-child p, .search-footer .searchbar input {
    font-size: 0.85em;
  }

  .search-footer .searchbar input {
    width: 80%;
  }

}


@media screen and (max-width: 1136px) {
  .col .blok p, .col:last-child .blok .footer-title {
    font-size: 0.90em;
  }

  .footer .col:last-child p, .search-footer .searchbar input {
    font-size: 0.80em;
  }

  #google {
    margin-top: 5px;
  }

}
