.container-footer {
  width: 100%;
  padding-bottom: 1em;
  border-top: 1px solid #eaeaea;

}

.padding-0 {
  padding: 0;
}

.footer .col {
    padding-top: 2em;
}


.col .blok {
  margin-bottom: 1.5em;

  a {
    font-size: 0.9em;
  }

  p {
    margin-bottom: 0;
  }
}


p.footer-title {
  font-weight: bold;
  color: black;
  margin-bottom: 0;

}



.footer .col:last-child {
  border-left: 1px solid #eaeaea;
  padding-left: 30px;

  p {
    font-size: 0.9em;
  }

  a {
    font-size: 1em;
    text-decoration: underline;

    &:hover {
      color: #007773;
    }
  }

  .footer-title {
    margin-bottom: 0.1em;
    font-size: 1em;
  }


}

.contact-info p {
  margin-left: 5px;
}

#cellphone {
  width: 10px;
  height: 13px;
  background: url('../images/nav-footer-icons.svg') 39px 0;
}

#mail {
  width: 13px;
  height: 10px;
  background: url('../images/nav-footer-icons.svg') 56px 0;
}

.social-icons a img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.social-icons a:last-child img {
  margin-right: 0;
}

#facebook {
  background: url('../images/social.svg');
}

#twitter {
  background: url('../images/social.svg') 97px 0;
}

#youtube {
  background: url('../images/social.svg') 65px 0;
}

#google {
  background: url('../images/social.svg') 33px 0;
}
