$container-width: 70%;
$primary-color: #06137b;
$secondary-color-dark: #4f4f4f;
$secondary-color-light: #fff;
$hover-color: #0c20c5;
$hover-color-nav: #2c2b2b;
$font-small: 0.72em;
$font-medium-large: 0.9em;


/* Naviagtion Logo */

.logo-space {
    position: relative; // Parent position relative om child met position absolute boven alles anders te laten komen
}


.logo-top {
    position: absolute;
    margin-left: 15%;
    margin-top: -18px; // om hem boven zelf de padding van de body te laten komen
    z-index: 1; // Om hem boven de slider te laten uitkomen
}



/***  Navigation top part  ****/

/* Menu */

.container-nav-top, .container-nav-bottom {
    width: 100%;
}

.top-nav {
    font-size: $font-small;
    font-weight: 600;
    width: $container-width;
    margin-left: 15%;
}

.top-nav-menu {
  padding: 12px 0 12px 12px;
  margin-left: 14%;
  width: 56%;
}


.nav {
   li.nav-item-top {

   border-right: 1px solid $primary-color;
   width: 115px;



     #watchlist {
       width: 11px; // bepalen hoeveel ruimte de afbeelding zal innemen
       height: 11px;
       background: url('../images/nav-footer-icons.svg') 27px -1px; //css image sprite, afbeelding nemen vanaf breedte 27px en hoogte 1px onder de bovenkant
       margin-top: 3px;
     }


     #profile {
       width: 13px;
       height: 13.8px;
       background: url('../images/nav-footer-icons.svg') 14px 0;
       margin-top: 1px;
     }

     a {
     color: $primary-color;
     padding: 0;
     padding-left: 1.7em;

     &:hover {
     color: $hover-color;
     }

     &:active, &:focus {
     font-weight: bold;
     }

     }
   }
}





.nav {

  li:last-child {
    border: none;
  }
}


.nav-top-middle{
    padding-left: 1.7em;
}





/* Searchbar */

.searchbar {
text-align: right;
width: 30%;

    input {
    width: 72%;
    font-size: 1.2em;
    padding: 3px 0 3px 17px;
    margin-top: 5px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    }

    ::placeholder {
    color:    #525151;
    font-style: italic;
    }


    button {
    border-style: none;
    background-color: white;
    padding-right: 0;

        img {
        width: 17px;
        padding-bottom: 3px;
        }

    }


}



/***  Navigation bottom part  ***/

.container-nav-bottom {
   background-color: #eaeaea;
}

.bottom-nav {
    font-size: $font-medium-large;
    font-weight: 700;
    width: $container-width;
    margin-left: 15%;
}

.bottom-nav-menu {
  padding: 9px 0 9px 12px;
  margin-left: 14%;
  width: 74%;
}


.nav {
   li.nav-item-bottom {

     margin-left: 5%;

     a {
     color: $secondary-color-dark;
     padding: 0;


     &:hover {
     color: $hover-color-nav;
     }

     &:active, &:focus {
     font-weight: bold;
     }

     }
   }
}

.nav {
   li.nav-item-bottom:first-child {
   margin-left: 0;
   }
}






.languages {
text-align: right;
font-size: 0.8em;
font-weight: 600;
padding-right: 0;
width: 12%;

  p {

    margin-bottom: 0;
    margin-top: 10px;

        a {
        color: $primary-color;
        text-decoration: none;
        margin-left: 10%;

            &:hover {
            color: $hover-color;
            }

            &:active, &:focus {
            font-weight: bold;
            }
        }

    }

}
