.frame-profile {
    padding: 1em 0.5em 1em 2.5em;
    margin-bottom: 50px;

    p, label {
      margin-bottom: 0;
    }

    p {
      font-size: $font-medium;
    }

    label {
      color: $primary-color;
    }

    .col:first-child {
      border-right: 1px solid #e5e5e5;
    }

    .col:last-child {
      margin-left: 40px;
    }


    .profile-title {
      margin-left:0;

      h4 {
        font-weight: 400;
        margin-bottom: 20px;
      }
    }


    .profile-info {

      div img {
        margin-right: 3px;
      }


      div:first-child p {
        text-decoration: underline;
      }

      div:last-child {
        margin-top: 21px;
      }

    }


    .account-info {

      div:last-child {
        margin-top: 22px;

      }
    }


}




/* Slider */

#SliderAuctions .carousel-control-prev, #SliderAuctions .carousel-control-next {
  background-color: rgba(7, 7, 7, 0.50);
  //height: 62.5%;

  &.left, &.right{
    background-image: none;
  }

}


#SliderAuctions .carousel-control-prev-icon {
    width: 42px;
    height: 42px;
    background: url('../images/pijltje-l-slider-auctions.png');
}


#SliderAuctions .carousel-control-next-icon {
    @extend .carousel-control-prev-icon;
    background: url('../images/pijltje-r-slider-auctions.png');
}

#SliderAuctions .carousel-inner {
  margin-top: 30px;

  .col-md-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .col-md-3:first-child {
    padding-left: 0;
  }

  .col-md-3:last-child {
    padding-right: 0;
  }


  .position {
    position: relative;
    overflow: hidden;


    img {
      position: relative;
    }


    .overlay {
      background-color: rgba(82, 81, 81, 0.61);
      opacity: 0;
      transition: all .4s ease-in-out;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      a img {
        width: 50%;
        margin-left: 25%;
      }

    }
  }


  .col-md-3:hover{
    .position{

      .overlay {
        opacity: 1;
      }

    }
  }



}



.slider-auction-info {
  margin: 1.1em;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;

  p {
    margin-bottom: 0;
  }

  p:first-child {
    font-size: $font-small;
    color: $primary-color;
  }


  p:nth-child(2), p:nth-child(3) {
    font-size: 1.2em;

  }

  p:nth-child(2) {
    font-weight: 600;
  }


  .clearfix {
    p.countdown {
      color: #545454;
      float:left;
      font-size: $font-small;
      margin-top: 10px;
    }

    button {
      border: 1px solid #e5e5e5;
      border-bottom: none;
      padding: 0.75em 0.5em 0.75em 0.5em;

      p a {
        font-size: 1em;
        font-weight: 600;
      }

      img {
        margin-left: 5px;
      }
    }
  }


}
