.frame-profile {
    padding: 1em 0.5em 1em 2.5em;

    p, label {
      margin-bottom: 0;
    }

    p {
      font-size: $font-medium;
    }

    label {
      color: $primary-color;
    }

    .col:first-child {
      border-right: 1px solid #e5e5e5;
    }

    .col:last-child {
      margin-left: 40px;
    }


    .profile-title {
      margin-left:0;

      h4 {
        font-weight: 400;
        margin-bottom: 20px;
      }
    }


    .profile-info {

      div img {
        margin-right: 3px;
      }


      div:first-child p {
        text-decoration: underline;
      }

      div:last-child {
        margin-top: 21px;
      }

    }


    .account-info {

      div:last-child {
        margin-top: 22px;

      }
    }


}




/* Slider */

#SliderAuctions .carousel-control-prev, #SliderAuctions .carousel-control-next {
  background-color: rgba(7, 7, 7, 0.50);

  &.left, &.right{
    background-image: none;
  }

}


.carousel-control-prev-icon {
    width: 42px;
    height: 42px;
    background: url('../images/pijltje-l-slider-auctions.png');
}


.carousel-control-next-icon {
    @extend .carousel-control-prev-icon;
    background: url('../images/pijltje-r-slider-auctions.png');
}

#SliderAuctions .carousel-inner {
  .col-md-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .col-md-3:first-child {
    padding-left: 0;
  }

  .col-md-3:last-child {
    padding-right: 0;
  }

}
