.form-register {
  .col-6 {
    max-width: 48.4%;

    .row {
      .col-3 {
        margin-right: 0;
        padding-right: 5px;
        margin-bottom: 0;
      }

      .col-9 {
        margin-left: 0;
        padding-left: 5px;
        padding-right: 4px;
        margin-bottom: 0;
      }
    }
  }


  .col-3 {
    max-width: 22.5%;
  }



}
