form.form-search {
  .row:nth-child(2) {
    .col {
      margin-bottom: 0;
    }
  }

  .row:nth-child(3) {
    .col {
      margin-bottom: 15px;
    }
  }

  .row:last-child {
    p {
      font-size: $font-medium-small;
      color: #8e8d8d;
    }
  }

}


.pages {
  text-align: right;

  a {
    font-size: $font-medium-small;
    color: $secondary-color-dark;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;

    &:hover, &:focus {
      text-decoration: underline;
      color: $secondary-color-dark;
    }
  }

  a:first-child {
    margin-left: 0;
    margin-right: 10px;
  }

  a:last-child {
    margin-right: 0;
    margin-left: 10px;
  }

  a.active {
    font-weight: bold;
    color: black;

    &:hover, &:focus {
      text-decoration: none;
    }

  }
}




.search-overview {

  .frame {
    padding: 1em 0.5em 1em 2.5em;
    border-bottom: none;


    .col {
      padding-right: 0;
      padding-left: 0;
    }


    .col-lg-10 {
      max-width: 78%;
    }


    .col:last-child {
      padding-left: 0;
      margin-left: 3%;
      padding-top: 1%;
    }


    p {
      font-size: $font-medium-large;
      color: #5c5c5c;
      margin-bottom: 0;

      span {
        font-weight: bold;
      }
    }


    button {
      background-color: #f8f8f8;
      border: 1px solid #e5e5e5;
      padding: 10px;
      width: 100%;
      vertical-align: middle;

      p {
        font-size: $font-small;
        color: $primary-color;
        font-weight: 800;
        margin-bottom: 0;
      }

      a {
        margin-left: 7px;
      }


      &:hover, :focus {
        background-color: #e1e1e1;
        border: 1px solid #e1e1e1;
      }
    }


    &:hover, :focus {
      background-color: #f8f8f8;
    }

  }/*einde frame*/


  .frame:last-child {
    border-bottom: 1px solid #e5e5e5;
  }


}/* einde search overview */
