form.form-search {
  .row:nth-child(2) {
    .col {
      margin-bottom: 0;
    }
  }

  .row:nth-child(3) {
    .col {
      margin-bottom: 15px;
    }
  }

  .row:last-child {
    p {
      font-size: $font-medium-small;
      color: #8e8d8d;
    }
  }

}


.pages {
  a {
    font-size: $font-medium-small;
    color: $secondary-color-dark;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;

    &:hover, &:focus {
      text-decoration: underline;
      color: $secondary-color-dark;
    }
  }

  a:first-child {
    margin-left: 0;
    margin-right: 10px;
  }

  a:last-child {
    margin-right: 0;
    margin-left: 10px;
  }

  a.active {
    font-weight: bold;
    color: black;
  
    &:hover, &:focus {
      text-decoration: none;
    }

  }
}
