/* Both table pages */

.content-page h1.margin-bottom-0 {
  margin-bottom: 0;
}

/* my watchlist */
.clearfix .button-light:last-child {
  margin-right: 5px;
}

.filter-mywatchlist {
  margin-left: 4%;
}
